body {
    background-color: #333;
}
header {
    background-color: #330000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 20px;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    color: white;
    padding-left: 100px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #333;
}

.games-list {
    max-width: 600px;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #fff;
}

.game {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

p {
    margin: 5px 0;
}

.empty-message {
    text-align: center;
    color: #666;
}
footer {
    background-color: #3a3939;
    color: #ffffff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: rgb(255, 236, 236);
    text-decoration: none;
}